In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

df = pd.read_csv("nfl_data.csv")
df.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,9/2/1966,1966,1,False,Miami Dolphins,14.0,23.0,Oakland Raiders,NaN,NaN,NaN,Orange Bowl,False,83.0,6.0,71,NaN
1,9/3/1966,1966,1,False,Houston Oilers,45.0,7.0,Denver Broncos,NaN,NaN,NaN,Rice Stadium,False,81.0,7.0,70,NaN
2,9/4/1966,1966,1,False,San Diego Chargers,27.0,7.0,Buffalo Bills,NaN,NaN,NaN,Balboa Stadium,False,70.0,7.0,82,NaN
3,9/9/1966,1966,2,False,Miami Dolphins,14.0,19.0,New York Jets,NaN,NaN,NaN,Orange Bowl,False,82.0,11.0,78,NaN
4,9/10/1966,1966,1,False,Green Bay Packers,24.0,3.0,Baltimore Colts,NaN,NaN,NaN,Lambeau Field,False,64.0,8.0,62,NaN

In [2]:
#Remove columns that aren't needed
df_football = df.drop(['schedule_season', 'schedule_week', 'schedule_playoff', 'team_away', 'team_favorite_id', 'spread_favorite', 'over_under_line', 'stadium', 'stadium_neutral', 'weather_temperature', 'weather_wind_mph', 'weather_humidity', 'weather_detail'], axis=1)

In [3]:
#Add column for wins and losses. True = Win
df_football['win_or_loss'] = df_football['score_home'] > df_football['score_away']
df_football

      schedule_date             team_home  score_home  score_away  win_or_loss
0          9/2/1966        Miami Dolphins        14.0        23.0        False
1          9/3/1966        Houston Oilers        45.0         7.0         True
2          9/4/1966    San Diego Chargers        27.0         7.0         True
3          9/9/1966        Miami Dolphins        14.0        19.0        False
4         9/10/1966     Green Bay Packers        24.0         3.0         True
...             ...                   ...         ...         ...          ...
12929      1/3/2021  New England Patriots         NaN         NaN        False
12930      1/3/2021       New York Giants         NaN         NaN        False
12931      1/3/2021   Philadelphia Eagles         NaN         NaN        False
12932      1/3/2021   San Francisco 49ers         NaN         NaN        False
12933      1/3/2021  Tampa Bay Buccaneers         NaN         NaN        False

[12934 rows x 5 columns]

In [6]:
#Convert boolean to integer
df_football['win_or_loss'] = df.apply(lambda row: row['score_home'] > row['score_away'], axis=1).astype(int)
df_football

      schedule_date             team_home  score_home  score_away  win_or_loss
0          9/2/1966        Miami Dolphins        14.0        23.0            0
1          9/3/1966        Houston Oilers        45.0         7.0            1
2          9/4/1966    San Diego Chargers        27.0         7.0            1
3          9/9/1966        Miami Dolphins        14.0        19.0            0
4         9/10/1966     Green Bay Packers        24.0         3.0            1
...             ...                   ...         ...         ...          ...
12929      1/3/2021  New England Patriots         NaN         NaN            0
12930      1/3/2021       New York Giants         NaN         NaN            0
12931      1/3/2021   Philadelphia Eagles         NaN         NaN            0
12932      1/3/2021   San Francisco 49ers         NaN         NaN            0
12933      1/3/2021  Tampa Bay Buccaneers         NaN         NaN            0

[12934 rows x 5 columns]

In [7]:
#Convert integers to Win or Loss
df_football.replace({1: 'Win', 0: 'Loss'}, inplace=True)
df_football

      schedule_date             team_home score_home score_away win_or_loss
0          9/2/1966        Miami Dolphins         14         23        Loss
1          9/3/1966        Houston Oilers         45          7         Win
2          9/4/1966    San Diego Chargers         27          7         Win
3          9/9/1966        Miami Dolphins         14         19        Loss
4         9/10/1966     Green Bay Packers         24          3         Win
...             ...                   ...        ...        ...         ...
12929      1/3/2021  New England Patriots        NaN        NaN        Loss
12930      1/3/2021       New York Giants        NaN        NaN        Loss
12931      1/3/2021   Philadelphia Eagles        NaN        NaN        Loss
12932      1/3/2021   San Francisco 49ers        NaN        NaN        Loss
12933      1/3/2021  Tampa Bay Buccaneers        NaN        NaN        Loss

[12934 rows x 5 columns]