In [1]:
import pandas as pd

In [7]:
weather_df = pd.read_csv("history_data (2).csv")
weather_df.head()

weather_df_slim = weather_df[['Name',
 'Date time',
 'Maximum Temperature',
 'Minimum Temperature',
 'Temperature',
 'Wind Chill',
 'Heat Index',
 'Precipitation',
 'Snow Depth',
 'Wind Speed',
 'Wind Gust',
 'Visibility',
 'Cloud Cover',
 'Relative Humidity',
 'Conditions']]
weather_df_slim.head()
#list(weather_df.columns)

,Name,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow Depth,Wind Speed,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Conditions
0,"Cleveland, OH, United States",9/8/1985,91.1,71.0,78.6,NaN,100.9,2.19,NaN,17.2,NaN,9.0,94.7,75.94,"Rain, Overcast"
1,"Cleveland, OH, United States",9/16/1985,70.1,43.1,58.7,NaN,NaN,0.00,NaN,11.4,NaN,15.1,12.3,64.64,Clear
2,"Cleveland, OH, United States",10/6/1985,53.9,38.9,46.2,32.2,NaN,0.00,NaN,13.9,NaN,16.5,53.9,71.97,Partially cloudy
3,"Cleveland, OH, United States",10/20/1985,56.9,48.8,53.5,44.1,NaN,0.06,NaN,15.0,NaN,12.7,100.0,71.57,"Rain, Overcast"
4,"Cleveland, OH, United States",10/27/1985,62.0,44.9,52.5,41.0,NaN,0.00,NaN,10.3,NaN,17.9,74.3,54.68,Partially cloudy

In [9]:
from nfl_football_data.ipynb import df

ModuleNotFoundError: No module named 'nfl_football_data'

In [ ]:
#schedule_date	team_home	score_home	score_away